  <div class="row">
    <aside class="col-md-4">
    	<%= render 'committee_info' %>
	</aside>
    <div class="col-md-8">
    	<h3>Expenses</h3>
    	<div class="progress" stype="min-height: 15px;">
  		<div class="progress-bar progress-bar-danger" style="width: <%= @committee.expenses.sum(:amount)/
         @committee.budget*100 %>%;"><%= number_to_percentage(@committee.expenses.sum(:amount)/
         @committee.budget*100, precision: 0) %> of budget spent</div>
		</div>
    	<table class="table">
		  <thead>
		    <tr>
		      <th>Item</th>
		      <th>Amount</th>
		      <th>Purchaser</th>
		      <th>Date</th>
		      <th>Notes</th>
		      <th width="5%">R?</th>
		      <th  width="5%">Post</th>
		    </tr>
		  </thead>
		  <tbody>
		    <% @committee.expenses.each do |expense| %>
		      <tr>
		        <td><%= link_to expense.item, edit_expense_path(expense) %></td>
		        <td><%= number_to_currency(expense.amount) %></td>
		        <td><%= link_to expense.brother.name, expense.brother %></td>
		        <td><%= expense.date %></td>
		       	<td><%= expense.notes %></td>
		        <td>		       
		        	<% if expense.reimbursed %>
        			<%= link_to "Y", toggle_reimbursed_path(expense), :method => :put, :class => "btn btn-success" %>
        			<% else %>
        			<%= link_to "N", toggle_reimbursed_path(expense), :method => :put, :class => "btn btn-danger" %>
        			<% end %></td>
			    <td>
		          <% if expense.posted %>
		            <%= link_to "Y", toggle_posted_path(expense), :method => :put, :class => "btn btn-success", :style=>'width: 40px;' %>
		          <% else %>
		            <%= link_to "N", toggle_posted_path(expense), :method => :put, :class => "btn btn-danger", :style=>'width: 40px;' %>
		          <% end %>
		        </td>
		        <td>
		        <%= link_to "X", expense, :class => "btn btn-danger", :method => :delete, data: { confirm: 'Are you sure?' }%></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
    </div>
  </div>  


